// all the theme variables will live here
// this is called at the top of the main.less

@preset-name: "Defaults";
@preset-icon: concrete-icon(#105da3, #fff, #ff0000);
@preset-fonts-file: "build/fonts/defaults.less";

/* 1.A Colors */
// these are the concrete 5 less calls needed in this format fo the
// styles.xml file. We define them here and call these variables
//into the juicedcss equivalents below

@primary-color: #2E5DBB;
@alt-color: #DC8712;
@link-color: @alt-color;
@link-visited-color: @link-color;

@dark-color: #212121;
@light-color: #aaa;
@white-color: #fff;
@green-color: #1a4;
@red-color: #AA252B;
@blue-color: #105da3;
@yellow-color: #fae17b;

// above values imported to their juicedcss equivalents

@color-primary: @primary-color;
@color-alt: @alt-color;
@color-link: @link-color;
@color-link-visited: @link-color;

// more colors than here used
@color-dark: @dark-color;
@color-light: @light-color;
@color-white: @white-color;
@color-green: @green-color;
@color-red: @red-color;
@color-blue: @blue-color;
@color-yellow: @yellow-color;

// theme default color-link-visited
@page-background-color:;
// navigation colors
@menu-link-color:;
@menu-link-background-color:;
@menu-link-hover-color:;
@menu-link-background-hover-color:;
// subnav
@subnav-menu-link-color:;
@subnav-menu-link-background-color:;
@subnav-menu-link-hover-color:;
@subnav-menu-link-background-hover-color:;
// area colors
@sidebar-background-color:;
@main-background-color:;
// social icon colors
@social-icon-color:;
@social-icon-hover-color:;



// gutters
@gutters: 32px;

// Breadkpoints
@screen-xs-min: 480px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@container-max-width: 1170px;

// body font variables
@body-type-font-family: Raleway, sans-serif;
@body-type-font-size: 1em;
@body-type-font-leading-size: 1.6;
@body-type-font-color: #777;

// header font variables
@header-type-font-family: Raleway, sans-serif;
@header-type-font-weight: 400;
@header-type-font-leading-size: 1.1;
@header-type-font-color: #333;

// header font sizes
@h1-font-size: 2.5em;
@h2-font-size: 2.2em;
@h3-font-size: 2.0em;
@h4-font-size: 1.8em;
@h5-font-size: 1.5em;
@h6-font-size: 1.2em;

// slicknav styles
@mobile-menu-activation-size: 767px;
// if specified in javascript
@slicknav-sitename-color: #333;

@slicknav-bottom-border: #fff;
// hamburger menu button
@slicknav-button-color: #999;
@slicknav-button-text-color: #000;
// affects the dropdown too
@slicknav-background-color: #fff;
// slicknav link styles
@slicknav-nav-link-color: #444;
@slicknav-background-hover-color: #444;
@slicknav-link-hover-color: #fff;
